In [ ]:
!pip install Faker

In [57]:
import pandas as pd
import numpy as np
from faker import Faker

In [7]:
fake = Faker()

In [177]:
store_type = ['Store', 'Web']

customers = [
    {'customer_id': x+1,
     'first_name': fake.first_name(),
     'last_name': fake.last_name(),
     'email_address': fake.email(),
     'dob': fake.date_between(start_date='-70y', end_date='-18y'),
     'gender': fake.profile()['sex'],
     'street_address': fake.street_address(),
     'state': fake.random_element(elements = ('NC', 'SC', 'TN', 'FL', 'GA', 'MS', 'AL')),
     'date_created': fake.date_between(start_date='-12y'),
     'create_source': np.random.choice(store_type, p = [.8, .2]) # can give probability of selection to Store Type
    }
    for x in range(1000)]

In [ ]:
df_customers = pd.DataFrame(customers)

In [185]:
# need to make a store_no column that selects '00' when create_source == 'Web' and selects a random integer from 1-120 when create_source == 'Store'

In [189]:
df_customers.head() # for some reason, this isn't preserving the order from the dictionary above

,create_source,customer_id,date_created,dob,email_address,first_name,gender,last_name,state,street_address,store_no
0,Web,1,2018-01-12,1969-06-03,fpetty@example.org,Erica,M,Ball,GA,985 Valerie Gateway,00
1,Web,2,2013-07-17,1999-05-19,murphyloretta@example.net,Jessica,F,Harris,TN,727 Scott Knolls,00
2,Web,3,2019-02-26,1955-04-18,philipbrown@example.org,Eric,F,Perkins,TN,9340 Johnny Falls,00
3,Store,4,2014-06-19,1991-10-30,douglassantos@example.org,Marilyn,F,Mathis,SC,11421 Harmon View Apt. 627,37
4,Store,5,2010-06-10,1953-03-18,jessica72@example.net,William,F,Cox,TN,354 Stacy Bridge Suite 320,37

In [198]:
df_customers['create_source'].value_counts()

Store    790
Web      210
Name: create_source, dtype: int64

0.21